# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

chat_history/*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

node_modules/*

backend/__pycache__/
backend/.env
backend/logs/
.env
.opencode/.env
.opencode/opencode.json

# Plugin
custom_chat_history_opencode_plugin.md